<% include ./partials/header.ejs %>
This is the search results page.. did we find the business you were searching for..?

<div class="container-fluid">
	<% for(var i = 0; i < businessResultsList.length; i++) { %>
		<div class="row">
			<div class='col-md-10 col-md-offset-1'>
				<div class='panel panel-default'>
					<div class='panel-body'>
						<div class="row">
							<div class="col-xs-12 col-md-3 col-lg-3 thumbnail">
								<img src="<%= businessResultsList[i].image %>">
							</div>
							<div class='col-md-9 col-xs-12'>
								<ul class='list-group'>
									<li class='list-group-item'>
										<h4 class='inline-header'>Business Name:</h4>
										<span class='business-name'> <%= businessResultsList[i].name %> </span>
									</li>
									<li class='list-group-item'>
										<h4 class='inline-header'>Business Address:</h4>
										<span class='business-address'> <%= businessResultsList[i].address %> </span>
									</li>
									<li class='list-group-item'>
										<h4 class='inline-header'>Yelp Link:</h4>
										<span class='business-yelp-link'><a href= '<%= businessResultsList[i].yelp %>' > <%= 'HERE' %> </a></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% } %>
</div>

<% include ./partials/footer.ejs %>